<div class="col-sm-6 col-lg-4 col-xl-3 fadeIn">
    <div class="subject-box box-classic">
        <a class="icon box-classic-icon" href="{{self.subject_page.url}}">
            <i class="fas fa-atom"></i>
        </a>
        <a class="box-classic-main" href="{{self.subject_page.url}}">
            <h4 class="box-classic-title">{{self.subject_name}}</h4>
            <div class="box-classic-inner">
                <p>{{self.subject_description}}</p>
            </div>
        </a>
    </div>
</div>