/* ADMIN CSS OVERRIDE */

header {
    background-color: #001440 !important;
}

.nav-wrapper .inner {
    background-color: #00091b;
    box-shadow: #001440;
}

.nav-main a {
    color: #ffffff
}

.nav-main a:hover {
    background-color:#02246b;
}

.button {
    background-color: #001440 !important;

}

.button:hover {
    background-color:#02246b !important;

}