{% extends 'core/base.html' %}


{% load crispy_forms_tags %}


{% block title %} Question Generator {% endblock title %}

{% block sidebar %} {% endblock sidebar %}

{% block pageheading %}Question Generator{% endblock pageheading %}

{% block extra_css %}
<style>
    .form-controls-active {
        background-color: #f1f1f1;
        border: 1px solid black;
    }

    select {
        display: block;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        width: 100%;
        max-width: 100%;
        /* useful when width is set to anything other than 100% */
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0.5rem 0 1rem 0;
    }

    input[type="radio"] {
        opacity: 0;
    }

    .custom-control {
        padding-left: 0;
    }

    .custom-radio label {
        display: inline-block;
        padding: 10px 20px;
        font-family: sans-serif, Arial;
        font-size: 16px;
        border: 2px solid #444;
        border-radius: 4px;
        cursor: pointer;
        background-color: #fffdd0;

    }

    .custom-radio input[type="radio"]:checked+label {
        background-color: rgb(25, 91, 146);
        border-color: rgb(28, 131, 28);
        color: white;
        border: 3px solid #000;
    }

    .custom-radio input[type="radio"]:checked+label::after {
        content: "SELECTED";
        font-weight: bold;
        font-size: 10pt;
        text-align: center;
        background: white;
        color: rgb(28, 131, 28);
        padding: 4px;
        display: block;
        margin: 0
    }

    .custom-radio input[type="radio"]:focus+label {
        border: 3px solid rgb(221, 207, 16);
    }

    .custom-radio label:hover {
        background-color: rgb(130, 184, 228);
        border: 1px dashed gold;
        color: white;
    }

    hr {
        border-top: 1px solid;
    }

    .card-outer {
        margin: 50px 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="/">
                    <i class="fas fa-home"></i>
                </a></li>>
            <li><a href="/question-generator">Question Generator</a></li>>
            <li class="active">Generate Questions</li>
        </ul>
    </div>
</div>

<div id='javascriptwarning' class="text-center alert  alert-danger" role="alert">
    <h5 class="text-uppercase font-weight-bolder align-middle">
        <i class="fas fa-exclamation-triangle"> </i>
        &nbsp;Javascript must be enabled to proceed
    </h5>
    <p class="p-2">The question generator requires javascript to be enabled to proceed.</p>
    <p>If javascript is enabled and you are
        still seeing this message, please ensure you are not blocking scripts from running on this page. </p>
    <a href="{% url 'questions:home'%}"> Go Back </a>
</div>

<!-- PAGE HEADER-->
<div class="main-header pt-5 text-uppercase">
    <h2 class="text-center font-weight-bolder">
        Generate Questions
    </h2>
</div>

<div class="container">
    <div id="mainContent" style="display: none;">

        <form method="post" id="questionForm" data-topics-url="{% url 'questions:ajax_load_topics' %}">
            {% csrf_token %}

            <!-- {% crispy form %} -->

            <div class="card card-outer card-border">
                <div class="card-header bg-dark text-white border-primary d-flex justify-content-between ">
                    <h5>Select a Subject and Any Associated Topics</h5>
                    <h5>Step 1</h5>
                </div>
                <div class="card-body text-center">
                    {{form.subjectid |as_crispy_field}}
                    {{form.topicid |as_crispy_field}}
                </div>
            </div>

            <div id="optionGroup" class="card shadow bg-white mb-3 border-dark">
                <div class="card-header bg-dark text-white border-primary d-flex justify-content-between">
                    <h5>Select an Option For Question Generation</h5>
                    <h5>Step 2</h5>
                </div>
                <div class="card-body">

                    <div class="form-group flex-fill">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4" id="radioColumn">
                                    <div class="custom-control custom-radio">
                                        <input required type="radio" id="customRadio1" name="customRadio"
                                            class="form-check-input" value="oneFromEach">
                                        <label class="form-check-label" for="customRadio1">
                                            <h5 class="text-center">1 Question From Each Selected Topic</h5>
                                            <hr>
                                            <p class="text-center font-weight-lighter">Selecting this option will return
                                                one
                                                randomly selected question from each topic chosen. If a topic only has
                                                one
                                                question associated to it, then that question will always be returned.
                                            </p>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4" id="radioColumn">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="customRadio"
                                            class="form-check-input" value="tenFromEach" >
                                        <label class="form-check-label" for="customRadio2">
                                            <h5 class="text-center">10 Questions From A Selected Topic</h5>
                                            <hr>
                                            <p class="text-center font-weight-lighter">Selecting this option will return
                                                ten
                                                randomly selected questions. You can quickly change topics on the
                                                results
                                                page.<strong>You do <b>not</b> need to select a topic to
                                                    continue.</strong></strong></p>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4" id="radioColumn">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio3" name="customRadio"
                                            class="form-check-input" value="fromMany">
                                        <label class="form-check-label" for="customRadio3">
                                            <h5 class="text-center"><em>x</em> Questions From Any Selected Topic</h5>
                                            <hr>
                                            <p class="text-center font-weight-lighter">Selecting this option will return
                                                a
                                                variable amount of randomly selected questions from any of the topics
                                                chosen. The maximum number of questions that can be returned is 50.</p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{form.number_of_questions|as_crispy_field}}

                </div>
            </div>
            <div id="submitWarning" class="text-center font-weight-bold"></div>
            <div class="form-controls text-center py-2 my-2">
                <button type="submit" id='submit' name='submit'
                    class='font-weight-bold border-dark p-3 m-1 btn btn-primary' hidden disabled>Generate
                    Questions</button>
                <button type="reset" id='reset' name='reset' class='font-weight-bold border-dark p-3 m-1 btn btn-danger'
                    hidden disabled>Reset Generator</button>

            </div>

        </form>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script>
    $("#id_subjectid").change(function () {
        var url = $("#questionForm").attr("data-topics-url");
        var subjectID = $(this).val();
        $.ajax({
            traditional: true,
            url: url,
            data: {
                'subject': subjectID
            },
            success: function (data) {
                $("#div_id_topicid").html(data);
                console.log(data.length)
                if (data.length > 4000) {      //CHANGE 3240 is the new length of data with the graph.
                    $('.form-controls').show();
                    $('.form-controls').addClass('form-controls-active')
                    $("#submit").prop('disabled', false);
                    $("#submit").prop('hidden', false);
                    $("#reset").prop('disabled', false);
                    $("#reset").prop('hidden', false);
                    $('label[for=""]').show();
                    $("#div_id_choice_field").show()
                    $('#optionGroup').show();
                    $('.form-check-input').prop('checked', false);
                    $('#optionDisabled').hide();


                } else {
                    $('.form-controls').hide();
                    $("#submit").prop('disabled', true);
                    $("#submit").prop('hidden', true);
                    $("#reset").prop('disabled', true);
                    $("#reset").prop('hidden', true);
                    $('label[for=""]').hide();
                    $("#div_id_number_of_questions").hide();
                    $('#optionGroup').hide();

                }
            }
        });
    });




    $('#customRadio1').click(function () {
        if ($('#customRadio1').is(':checked')) {

            $("#id_number_of_questions").prop('hidden', true);
            $("#id_number_of_questions").prop('disabled', true);
            $('label[for="id_number_of_questions"]').hide();
            $('.chkbox').prop("disabled", false);
            $('#optionDisabled').hide();
            // 
        }
    });

    $('#customRadio2').click(function () {
        if ($('#customRadio2').is(':checked')) {
            $("#id_number_of_questions").prop('hidden', true);
            $("#id_number_of_questions").prop('disabled', true);
            $('.chkbox').prop('checked', false);
            $('.chkbox').prop("disabled", true);
            $('label[for="id_number_of_questions"]').hide();
            $('#optionDisabled').show();

        }
    });


    $('#customRadio3').click(function () {
        if ($('#customRadio3').is(':checked')) {
            $("#id_number_of_questions").prop('hidden', false);
            $("#id_number_of_questions").prop('disabled', false);
            $("#id_number_of_questions").prop('required', true);
            $("#div_id_number_of_questions").show();
            $('label[for="id_number_of_questions"]').show();
            $('.chkbox').prop("disabled", false);
            $('#optionDisabled').hide();
        }
    });

    $(document).ready(function () {
        $('#javascriptwarning').hide();
        $('#mainContent').show();
        $('#optionGroup').hide();


    });

    $('#submit').click(function () {


        if ($('#customRadio1').is(':checked') && $('div.checkbox-group.required :checkbox:checked').length == 0) {
            event.preventDefault();
            $('#submitWarning').addClass("alert border-danger alert-danger");
            $('#submitWarning').html("<b>You have selected '1 Question From Each Selected Topic', but have not selected any topics.<br>Please correct this and try again, or choose another option. </b>")
        }


        if ($('#customRadio3').is(':checked') && $('div.checkbox-group.required :checkbox:checked').length == 0) {
            event.preventDefault();
            $('#submitWarning').addClass("alert border-danger alert-danger");
            $('#submitWarning').html("<b>You have selected 'x Questions From Any Selected Topic', but have not selected any topics.<br> Please correct this and try again, or choose another option. </b>")
        }
    })

    $('#reset').click(function () {
        $('#submitWarning').removeClass("alert border-danger alert-danger");
        $('#submitWarning').html("")
    })

</script>
{% endblock %}