{% extends "core/base.html" %}

{% block title %}Add New Subject{% endblock title %}

{% load crispy_forms_tags %}

{% block extra_css %}
<style>
  .card {
    margin: 50px 0;
  }
</style>
{% endblock %}

{% block content %}

<div class="breadcrumbs">
  <div class="container">
      <ul class="breadcrumb">
        <li>
          <a href="/">
          <i class="fas fa-home"></i>
        </a></li>>
        <li><a href="/question-generator">Question Generator</a></li>>
          <li><a href="/question-generator/subject">Subjects</a></li>>
          <li class="active">Add Subject</li>
      </ul>
  </div>
</div>

<div class="container">
  
  <!-- PAGE HEADER-->
  <div class="main-header pt-5 text-uppercase">
    <h2 class="text-center font-weight-bolder">
      Add new subject
    </h2>
  </div>

  

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Note: </strong> Only users with the <code>editteacher</code> role can add subjects.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="card card-bordered text-center">
  <div class="text-center card-header text-justify text-wrap  font-weight-light">
    Add the new 'Subject Name' below. The subject should be entered as you'd expect it to appear <em>e.g. IT, Chemistry,
      PE, English Literature.</em>
  </div>



  <div class="card-body">
    <!-- {{uploader_id.id}} -->
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form | crispy }}

  </div>
  <div class="card-footer">
    <input type="submit" value="Submit" class="btn btn-primary">
    <input type="reset" value="Reset" class="btn btn-danger">
  </div>
  </form>
</div>

</div>
{% endblock content %}