{% extends "core/base.html" %}
{% block title %}Topic Details: {{topic}} {% endblock title %}
{% block pageheading %}Topic Details{% endblock pageheading %}
{% load crispy_forms_tags %}

{% block extra_css %}
<style>
  .card {
    margin: 30px 0;
  }

  .textinput {
    width: 100%;
    height: 1 00%;
    text-align: center;
  }
</style>
{% endblock %}

{% block content %}

<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumb">
          <li>
            <a href="/">
            <i class="fas fa-home"></i>
          </a></li>>
          <li><a href="/question-generator">Question Generator</a></li>>
            <li><a href="/question-generator/topic">Topics</a></li>>
            <li><a href="/question-generator/topic/{{topic.topicid}}">{{topic}}</a></li>>
            <li class="active">Edit Topic</li>
        </ul>
    </div>
  </div>

  
<div class="container">
    <!-- PAGE HEADER-->
    <div class="main-header pt-5 text-uppercase">
        <h2 class="text-center font-weight-bolder">
            {% if perms.questions.change_topic%}Edit Topic Details{% else %}Topic Details{% endif %} - {{topic}}
        </h2>
    </div>

    <div class="card card-bordered text-center">
        {% if perms.questions.change_topic %}
        <div class="card-header text-center text-wrap  font-weight-light">
            The topic should be entered as you'd expect it to appear <em>e.g. C1, Shakespare, Algebra, etc.</em>
        </div>
        {% endif %}

        <div class="card-body">
            {% if perms.questions.change_topic%}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn  btn-primary">
            <input type="reset" value="Reset" class="btn btn-danger">
            {% if perms.questions.delete_topic%}
            <a href='{% url "questions:deletetopic" topicid=topicid %}'><button type="button"
                    class="btn border-danger bg-dark text-white visible">Delete (will raise ticket)</button></a>
            {% endif %}
        </div>
        </form>
        {% else %}
        <label>Topic Name</label>
        <h5>{{topic}}</h5>
    </div>


    {% endif %}
</div>
</div>


{% endblock content %}