{% extends "core/base.html" %}
{% block title %}Topics{% endblock title %}

{% block extra_css %}
<style>
    .card-outer {
        background-color: #f1f1f1;
    }

    .card-inner {
        border: #cac7f3 solid 0.5px !important;
        transition: 0.2s;
        scale: 1;
    }

    .card-inner:hover {
        scale: 1.05;
    }

    .card-inner .card-header {
        padding: 0;
        padding-top: 0.5rem;
    }

    .card-header h5 {
        font-weight: bolder;
        font-size: 1rem;
    }

    .card-body-item .col-sm-6:hover {
        background-color: rgb(207, 229, 253);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.431) !important;
        transition: all 0.2s
    }

    .card-deck {
        flex-flow: column;
    }

    @media (min-width: 992px) {
        .card-deck {
            flex-flow: row;
        }
    }

    .card-body-inner {
        padding: 0;
    }

    .card-body-item {
        width: 100%;
        object-fit: contain;
        padding: 0;
        margin: 0;
    }
</style>
{% endblock %}



{% block content %}
<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="/">
                    <i class="fas fa-home"></i>
                </a></li>>
            <li><a href="/question-generator">Question Generator</a></li>>
            <li class="active">Topics</li>
        </ul>
    </div>
</div>

<div class="container">

    <!-- PAGE HEADER-->
    <div class="main-header pt-5 text-uppercase">
        <h2 class="text-center font-weight-bolder">
            Question Generator Topics
        </h2>
    </div>

    <!-- SUBJECT CARDS-->
    <div class="my-3 card border-gray border-1 mb-5">
        <div class="card-body card-outer text-center">

            <div class="d-flex justify-content-between py-1">
                <p>Click on 'View Details' for more information</p>
                <p class="text-center">
                    {% if topics|length == 1 %}
                    There is 1 topic
                    {% else %}
                    There are {{topics|length}} topics
                    {% endif %}
                </p>
            </div>

            <div class="card border-0 ">
                {% if perms.questions.add_subject%}

                <div class="card-header border-0">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <div class="d-flex text-left justify-content-between">
                            <div class="content pt-2 d-none d-sm-block">
                                <p>
                                    <i class="fas fa-info-circle"></i>
                                    <strong>Note: </strong>
                                    Users with the <code>editteacher</code> role can add and edit topics.</p>
                            </div>

                            <a href={% url 'questions:addtopic' %} class=" pt-2 text-white align-middle">
                                <button
                                    class="text-uppercase btn btn-sm border-primary rounded-0 btn-info text-white font-weight-bolder">
                                    Add Topic
                                </button>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="card-body bg-white border-0">
                    {% for t in topics %}
                    {% if forloop.counter0|divisibleby:4 %}
                    <div class="card-deck">
                        {% endif %}
                        <div class="ml-4 mb-3 card-inner card  text-center">
                            <div class="card-header bg-dark border-dark text-white">
                                <h5 class="card-title">
                                    {{t.topicname}}
                                </h5>
                            </div>
                            <div class="card-body-inner card-body">
                                <div class="row card-body-item">
                                    {% if perms.questions.edit_topic %}
                                    <div class="col-sm-6 border">
                                        {% else %}
                                        <div class="col-12 border">
                                            {% endif %}
                                            <span class="font-weight-bolder d-block py-3 link-text">
                                                <a class="stretched-link"
                                                    href="{% url 'questions:topic-detail' t.topicid %}">
                                                    <i class="d-inline fas fa-file-alt"></i> View Details</a>
                                            </span>
                                        </div>
                                        {% if perms.questions.edit_topic %}
                                        <div class="border col-sm-6">
                                            <span class="font-weight-bolder d-block py-3 link-text">
                                                <a class="stretched-link"
                                                    href="{% url 'questions:edittopic' t.topicid %}">
                                                    <i class="d-inline far fa-edit"></i> Edit </a>
                                            </span>
                                        </div>
                                        {% endif %}
                                    </div>

                                    <!-- <h5 class="card-title"><a class="stretched-link"
                                        href='{% url 'questions:edittopic' t.topicid %}'>{{t.topicname|upper}}</a>
                                </h5> -->
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:4 %}
                        </div><br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

  