{% extends 'core/base.html' %}
{% load wagtailimages_tags static wagtailcore_tags %}


{% block banner %}
<section class="lesson-banner">
    <div class="container">
        <div class="col text-center">
            <h1>{{self.title}}</h1>
            <div class="row">
                <div class="col">
                    <p class="lead">Module Summary</p>
                    <p>{{self.description|richtext}}</p>
                </div>
                <div class="col">
                    <p class="lead">Module Objectives</p>
                    <p>{{self.objectives|richtext}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock banner %}

{% block content %}
{{gamma}}
<section class="lesson">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {%for block in self.lesson_summary %}
                {% include_block block %}
                {%endfor%}
                
            </div>
            <div class="col-md-4">
                <aside>
                    <div class="box-style">
                        <h4>
                            Sections
                            <span class="float-right">5</span>
                        </h4>
                        <h4>
                            Lessons
                            <span class="float-right">25</span>
                        </h4>
                        <h4>
                            ~Time Per Lesson
                            <span class="float-right">30 mins</span>
                        </h4>
                    </div>
                    <div class="box-style">
                        <h4>
                            Key
                        </h4>
                        <p><span class="dot"></span> Not Started</p>
                        <p><span class="dot bg-warning"></span> In Progress</p>
                        <p><span class="dot bg-success"></span> Complete</p>

                    </div>

                </aside>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_js %}

<script>
    $(document).ready(function () {

        $('td:nth-child(5),th:nth-child(5)').hide();
    }) 
</script>

<script>
    $('.table-modules > tbody > tr').click(function () {

        var url = $(this).attr('data-href');
        $(location).attr('href', url)
    });
</script>

{% endblock extra_js %}