{% extends 'core/base.html' %}
{% load wagtailimages_tags static wagtailcore_tags %}

{% block extra_css %}

{% endblock extra_css %}



{% block content %}

<section class="subject-banner">
    <div class="container">
        <div class="col text-center">
            <h1>Subjects</h1>
            <p class="lead">
                Some description here Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, neque
                libero earum
                doloremque minus fuga optio. Voluptatibus pariatur sit voluptates dolore culpa amet placeat
                molestiae illo
                facilis optio, aspernatur ipsa consequatur asperiores laboriosam nulla similique eaque quod
                voluptatum
                cumque temporibus. Totam qui ullam aut excepturi dolorem suscipit natus id tempora!
            </p>
        </div>
    </div>
</section>
<hr>

<section id="subjects" class="subjects">
    <div class="container">
        <div class="row">
            {%for block in self.subject %}
                    {% include_block block %}
                {%endfor%}
        </div>
    </div>
</section>

{% endblock content %}