{% extends 'core/base.html' %}
{% load wagtailimages_tags static wagtailcore_tags %}


{% block banner %}
<section class="subject-banner">
    <div class="container">
        <div class="col text-center">
            <h1>Subjects</h1>
            <p class="lead">
                Some description here Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, neque
                libero earum
                doloremque minus fuga optio. Voluptatibus pariatur sit voluptates dolore culpa amet placeat
                molestiae illo
                facilis optio, aspernatur ipsa consequatur asperiores laboriosam nulla similique eaque quod
                voluptatum
                cumque temporibus. Totam qui ullam aut excepturi dolorem suscipit natus id tempora!
            </p>
        </div>
    </div>
</section>
{% endblock banner %}


{% block content %}
<section id="subjects" class="subjects">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="category-box shadow border-1">
                    <h4>Subject Categories</h4>
                    <ul class="subject-categories">
                        <li class="active all"><a href="#all">All Categories</a></li>
                        <li><a href="#art">Arts</a></li>
                        <li><a href="#english">English</a></li>
                        <li><a href="#humanities">Humanities</a></li>
                        <li><a href="#languages">Language</a></li>
                        <li><a href="#society">Society and Civics</a></li>
                        <li><a class="science" href="#science">Science</a></li>
                        <li><a href="#technology">Technology</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-9 col-md-8">
                <div class="row">
                    {%for block in self.subject %}
                    {% include_block block %}
                    {%endfor%}
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $(".subject-categories").on('click', 'li', function () {
            $('li').removeClass('active');
            $(this).addClass('active');

            let subject = $(this).text();
            let hiddenClass = "d-none";

            if ($(this).text() == "All Categories") {
                $(".fadeIn").each(function () {
                    $(this).removeClass(hiddenClass);
                })
            }
            else {

                $(".col-lg-9").each(function () {
                    $(".fadeIn").each(function () {
                        if ($(this).attr('data-href') != subject) {
                            $(this).addClass(hiddenClass);
                        }
                        else {
                            $(this).removeClass(hiddenClass);
                        }
                    })
                })
            }

        });
    });

</script>
{% endblock extra_js %}