{% extends 'core/base.html' %}
{% load wagtailimages_tags static %}


{% block banner %}
<section class="module-banner">
    <div class="container">
        <div class="col text-center">
            <h1>KS3 Chemistry</h1>
            <p class="lead">
                Some description here Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, neque
                libero earum
                doloremque minus fuga optio. Voluptatibus pariatur sit voluptates dolore culpa amet placeat
                molestiae illo
                facilis optio, aspernatur ipsa consequatur asperiores laboriosam nulla similique eaque quod
                voluptatum
                cumque temporibus. Totam qui ullam aut excepturi dolorem suscipit natus id tempora!
            </p>
        </div>
    </div>
</section>
{% endblock banner %}


{% block content %}
<section class="modules">
    <div class="container">
        <div class="row ">
            {% for module in modules %}
            <div class="col-lg-4 col-md-4 d-flex align-items-stretch border-dark">
                <div class="icon-box shadow">
                    <div class="icon">
                        <picture>
                            <img height="50px" width="50px" src='{% static "img/lesson-icon.png" %}'>
                        </picture>
                    </div>
                    <h4>
                        <a class="stretched-link" href="{{module.url}}">{{module}}</a>
                    </h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}