{% extends "core/base.html" %}
{% load static wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}


<!-- Header -->
<section class="keystage-banner">
    <div class="container">
        <div class="col text-center">
            <h1 class="shadow">{{self.subject}}</h1>
            <div class="row">
                <div class="quote col-8 offset-2 bg-white text-dark shadow rounded">
                    <blockquote class="h5">
                        <p>
                            {{self.subject_quote|richtext}}
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Course Content</h2>
            <hr>
            {{self.subject_content|richtext}}
        </div>
        <div class="col-md-4 mb-5">
            <h2>Some Content</h2>
            <hr>
            <address>
                <strong>Maybe an example module</strong>
                <br>or a list of the newest lessons
                <br>or a lijnk to something else?
                <br>
            </address>
            <address>
                <abbr title="Phone">With</abbr>
                Some useful links/resources here
                <br>
                <abbr title="Email">Contact:</abbr>
                <a href="mailto:#">And contact/message button here?</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        {% for card in keystages %}
        {% image card.image fill-300x200 as card_img %}
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="{{card_img.url}}" alt="{{card_img.alt}}">
                <div class="card-body text-center">
                    <h4 class="card-title">{{card.title}}</h4>
                    <p class="card-text">{{card.description}}</p>
                </div>
                <div class="card-footer  bg-dark text-center">
                    <a href="{{card.url}}" class="stretched-link btn btn-lg btn-block btn-dark">Find Out More!</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>



</div>
<!-- /.container -->
{% endblock content %}